<?xml version="1.0" ?>
<launch>
  <!--Static Arguments -->
  <arg name="robot_name"      default=""/>
  <arg name="ns_tf"           default=""/>
  <arg name="scan_topic"      default="/scan"/>
  <arg name="odom_frame_id"   default="$(arg ns_tf)odom"/>
  <arg name="base_frame_id"   default="$(arg ns_tf)base_footprint"/>
  <arg name="initial_pose_x"  default="0.0"/>
  <arg name="initial_pose_y"  default="0.0"/>
  <arg name="initial_pose_a"  default="0.0"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="output"          default="screen"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl_$(arg robot_name)" respawn="true" output="$(arg output)">
    <param name="use_map_topic"             value="true"/>
    <param name="min_particles"             value="500"/> <!--500-->
    <param name="max_particles"             value="1000"/> <!--3000-->
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>

    <param name="odom_frame_id"             value="$(arg odom_frame_id)"/>
    <param name="base_frame_id"             value="$(arg base_frame_id)"/>
    <param name="global_frame_id"           value="/$(arg global_frame_id)"/>
    
    <remap from="scan"                      to="$(arg scan_topic)"/>
    <remap from="initialpose"               to="/$(arg robot_name)/initialpose"/>
    <remap from="amcl_pose"                 to="/$(arg robot_name)/amcl_pose"/>
    <remap from="particlecloud"             to="/$(arg robot_name)/particlecloud"/>
    <remap from="map"                       to="/map"/>
    
  </node>

</launch>