<?xml version="1.0" ?>
<launch>
    <!-- Create gazebo world -->
    <include file="$(find gazebo_ros)launch/empty_world.launch" >
        <arg name="world_name" value="$(find masterarbeit)/maps/playground.world" />
        <arg name="gui" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="paused" value="false" />
        <arg name="output" value="log"/>
        <arg name="recording" value="false"/>
        
    </include>
    
    <!-- Starting Map Server-->
    <node pkg="map_server" name="map_server" type="map_server" args="$(find masterarbeit)/maps/playground.yaml" output="log">
        <param name="frame_id" value="map"/>
    </node> 

    <!--Start RVIZ Configuration   rosrun rviz rviz -d $(rospack find masterarbeit)/rviz/config_file_1.rviz-->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find masterarbeit)/rviz/config_file_1.rviz" output="log"/>

    <!--Roboter laden-->
    <include file="$(find masterarbeit)/launch/robots.launch">
        <arg name="output" value="log"/>
    </include>

    <!--rqt launch /-->
    <!--node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/-->
   
</launch>